# Gradle files
.gradle/
build
app/build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio and IntelliJ IDEA
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Captures
*.hprof
_req.md
.gradle/file-system.probe
.gradle/8.13/executionHistory/executionHistory.bin
.gradle/8.13/executionHistory/executionHistory.lock
.gradle/8.13/fileHashes/fileHashes.bin
.gradle/8.13/fileHashes/fileHashes.lock
.gradle/8.13/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
app/build/intermediates/binary_art_profile/release/compileReleaseArtProfile/baseline.prof
app/build/intermediates/dex/debug/mergeProjectDexDebug/3/classes.dex
app/build/intermediates/dex/release/mergeDexRelease/classes.dex
app/build/intermediates/dex_metadata_directory/release/compileReleaseArtProfile/0/.dm
app/build/intermediates/dex_metadata_directory/release/compileReleaseArtProfile/1/.dm
